@{
    Layout = "~/_LayoutMain.cshtml";
}

@section js{
    <script src="~/Scripts/app/index.js"></script>
}
@section style{
    <link href="~/Content/app/index.css" rel="stylesheet" />
}
@RenderPage("~/Views/Common/ViewUser.cshtml")
<div class="container mt-10">
    <div class="row" id="divSubject" style="display: none;">
        <div>
            <div class="pull-right">
                <span class="btn btn-primary" id="btnBack">返回</span>
            </div>
            <div class="text-center">
                <span class="h1" id="divTitle"></span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row" id="divSubjects">
        </div>
    </div>
    <div class="row" id="divTypes"></div>
</div>

