@{
    Layout = "~/_LayoutMain.cshtml";
}
<div class="h100 no-scroll">
    <div>@RenderPage("~/Views/Common/ViewUserInfo.cshtml")</div>
    <div class="h100">
        <div class="pull-left wl bg-info h100">
            @RenderPage("~/Views/Common/ViewMenu.cshtml")
        </div>
        <div class="pull-left wr">
            <div class="jumbotron">
                <h1>用户管理</h1>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
