<div class="text-center alert alert-danger"><a href="~/Admin/Main">首页</a></div>
<div class="text-center alert alert-danger"><a href="~/Admin/UserInfo">用户管理</a></div>
<div class="text-center alert alert-danger"><a href="~/Admin/TypeInfo">分类管理</a></div>
