<div class="text-right bg-primary">
    
    <span class="h4" id="spUserinfo"></span>
    
    <span class="btn btn-danger" id="btnLogout">安全退出</span>
</div>
<script type="text/javascript">
    $(function () {
        $.post("/DataAdmin/GetUserInfo", {}, function (data) {
            if (!data.Success) { //没有用户信息的情况
                location = "/Admin";
                return;
            }
            var userinfo = data.UserInfo.username + "(" + data.UserInfo.nickname + ")";
            console.log(userinfo);
            $("#spUserinfo").html(userinfo);
        }, "json");

        $("#btnLogout").click(function () {
            $.post("/DataAdmin/Logout", {}, function (data) {
                location = "/Admin";
            }, "json");
        });

    });
</script>
