<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>会员管理</title>
    <link href="~/Content/lib/css/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("style",false)

    <script src="~/Scripts/lib/jquery.min.js"></script>
    <script src="~/Scripts/lib/bootstrap.min.js"></script>
    @RenderSection("js",false)

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
