@{
    Layout = "~/_LayoutMain.cshtml";
}
@section js{
    <script src="~/Scripts/app/subject.js"></script>
}
@RenderPage("~/Views/Common/ViewUser.cshtml")
<div>
    <div id="dialogAddInfo" style="display: none;">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">标题</span>
                <input type="text" id="txtTitle" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">内容</span>
                <textarea id="txtInfo" class="form-control"
                    cols="80" rows="4"></textarea>
            </div>
        </div>
        <div class="form-group">
            <span class="btn btn-primary" id="btnAddInfo">发布</span>
            <span class="btn btn-primary" id="btnCancel">取消</span>
        </div>
    </div>
</div>
<div class="text-center bg-primary">
    <div class="pull-right">
        <span class="btn btn-danger" id="btnToAddInfo">我要发帖</span>
        <span class="btn btn-danger"
            onclick="location='/'">返回</span>
    </div>
    <span class="h2" id="divSubject"></span>
</div>
<table class="table">
    <thead>
        <tr>
            <th>帖子</th>
            <th>内容</th>
            <th>作者</th>
            <th>发帖时间</th>
        </tr>
    </thead>
    <tbody id="tbInfos"></tbody>
</table>
<div class="text-center">
    <nav>
        <ul class="pagination">
            <li>
                <a href="javascript:void(0)" id="btnPre">
                    <span>&laquo;</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" id="btnFirst">
                    <span>第一页</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <span id="spPageInfo"></span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" id="btnLast">
                    <span>最后一页</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" id="btnNext">
                    <span>&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
